@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

/* Cambia el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Cambia el color de fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Cambia el color del pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Cambia el color del pulgar de la barra de desplazamiento al pasar el ratón */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }