@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  padding: 0;
  margin: 0;


}


:root {
  height: 100%;
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}


/* Cambia el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Cambia el color de fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Cambia el color del pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Cambia el color del pulgar de la barra de desplazamiento al pasar el ratón */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  .transparent-background-button {
    @apply font-manrope relative z-10 border border-linkIt-300 rounded-[7px] p-1 xs:p-1.5 sm:p-2 2xl:p-3 px-1 xs:px-2 text-[0.45rem] xs:text-[0.5rem] sm:text-[0.6rem] xl:text-[0.9rem] 2xl:text-[1rem] max-h-fit hover:border-linkIt-200 font-bold dark:hover:border-white dark:hover:text-linkIt-300 transition-all duration-300 ease-in-out cursor-pointer
}


.background-button {
    @apply font-manrope relative z-10 border border-linkIt-300 text-white bg-linkIt-300 rounded-[7px] p-1 xs:p-1.5 sm:p-2 2xl:p-3 px-1 xs:px-2 text-[0.45rem] xs:text-[0.5rem] sm:text-[0.6rem] xl:text-[0.9rem] 2xl:text-[1rem] hover:bg-linkIt-200 hover:border-linkIt-200  transition-all duration-300 ease-in-out font-bold dark:hover:border-white dark:hover:bg-white dark:hover:text-linkIt-300 cursor-pointer }