.list {
  list-style: initial;
}

/* .list .list-item::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin-right: 0.5rem;
  margin-bottom: 0.29%;
  border-radius: 50%;
  background-color: #000;
} */
ul,
ol {
  list-style-type: disc; /* Para viñetas en listas desordenadas */
  list-style: initial;
}
.jodit-wysiwyg ul {
  list-style-type: disc; /* Viñetas para listas desordenadas */
}

.jodit-wysiwyg ol {
  list-style-type: decimal; /* Numeración para listas ordenadas */
}
