@media screen and (min-width: 1280px) and (max-width: 1365px){
    .container-resources{
        width: 17rem !important;
        height: 60vh !important;
    }
    
}

@media screen and (min-width: 1400px){
    .container-resources{
        width: 17rem !important;
        height: 55vh !important;
    }
    .genre-resources{
        font-size: 1rem !important;
    }
    .title-resources{
        font-size: 1.2rem !important;
    }
    .description-resources{
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1680px) and (min-height: 1050px){
    .container-resources{
        width: 17rem !important;
        height: 47.3vh !important;
    }
    .genre-resources{
        font-size: 1rem !important;
    }
    .title-resources{
        font-size: 1.2rem !important;
    }
    .description-resources{
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1720px){
    .container-resources{
        width: 17rem !important;
        height: 50vh !important;
    }
    .genre-resources{
        font-size: 1rem !important;
    }
    .title-resources{
        font-size: 1.2rem !important;
    }
    .description{
        font-size: 1rem !important;
    }
}


@media screen and (min-width: 1800px) and (max-width: 1920px){
    .container-resources{
        width: 20rem !important;
        height: 48vh !important;
    }
    .cards-container-resources{
        gap: 5rem !important;
    }
    .genre-resources{
        font-size: 1rem !important;
    }
    .title-resources{
        font-size: 1.2rem !important;
    }
    .description-resources{
        font-size: 1rem !important;
    }
}