.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

.division {
  @apply h-[2px] bg-linkIt-600 z-10 m-0 rounded-sm
}


.division::before {
  content: "";
  @apply absolute rounded-full bg-linkIt-600 dark:bg-white w-[0.5rem] h-[0.5rem]
}

