.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

.division {
    height: 4px;
    margin: none;
    background-color: #A9C1D9;
    z-index: 1;
}


.division::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #A9C1D9;
    transform: translateY(-40%);
}

