.line {
    position: absolute;
    left: 3%;
    width: 90%;
    height: 4px;
    margin: 2.5rem;
    background-color: #A9C1D9;
    z-index: -1;
  }
  /*puntos*/
  .line::before,
  .line::after {
    content: "";
    position: absolute;
    width: 15px; /* Diámetro de las bolas */
    height: 15px;
    border-radius: 50%;
    background-color: #A9C1D9;
    top: 50%;
    transform: translateY(-50%);
  }
  
 