/* .underlineLink{
    text-decoration: none;
}

.underlineLink::after {
    content: '';
    position: absolute;
    bottom: 1.6rem;
    left: 2rem;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s;
}

.underlineLink:hover::after {
    width: 25.5%;
}


@media screen and (min-width: 1280px){
    .underlineLink{
        text-decoration: none;
    }
    
    .underlineLink::after {
        content: '';
        position: absolute;
        bottom: 1.2rem;
        left: 2.05rem;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: width 0.3s;
    }
    
    .underlineLink:hover::after {
        width: 25%;
    }
}

@media screen and (min-width: 1366px){
    .underlineLink{
        text-decoration: none;
    }
    
    .underlineLink::after {
        content: '';
        position: absolute;
        bottom: 1.2rem;
        left: 1.4rem;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: width 0.3s;
    }
    
    .underlineLink:hover::after {
        width: 25%;
    }
}

@media screen and (min-width: 1440px){
    .underlineLink{
        text-decoration: none;
    }
    
    .underlineLink::after {
        content: '';
        position: absolute;
        bottom: 1.9rem;
        left: 2rem;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: width 0.3s;
    }
    
    .underlineLink:hover::after {
        width: 24%;
    }
} */