
.skewed-borderB {
    position: relative;
    overflow: hidden;
    
}

.skewed-borderB::after {
    content: "";
    @apply absolute bottom-[4px] left-0 w-[100%] h-[10px] bg-white dark:bg-linkIt-200 origin-bottom-left transform skew-y-[-3deg] z-20

}

.skewed-borderB::before {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-full bg-linkIt-200 dark:bg-linkIt-400 origin-bottom-left transform skew-y-[-3deg] z-10
}

.contentB {
    position: relative;
    z-index: 10;
}