
.skewed-borderBME {
    position: relative;
    overflow: hidden;
}

.skewed-borderBME::after {
    content: "";
    position: absolute;
    top: 4px;
    /* Ajusta la distancia entre el borde inferior y la línea aquí */
    left: 0;
    width: 100%;
    height: 10px;
    /* Grosor de la línea */
    background: white;
    transform-origin: top right;
    transform: skewY(-3deg);
    z-index: 2;
}

.skewed-borderBME::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #173951;
    transform-origin: top right;
    transform: skewY(-3deg);
    z-index: 2;
}

.contentBME {
    position: relative;
    z-index: 2;
}